<h1 style="color: red;">Generating fake data with Faker</h1>

In [2]:
from faker import Faker
import decimal, random, secrets, sqlalchemy, json
import pandas as pd
import numpy as np
# import pandas_profiling

In [3]:
# initialize Faker instance
faker = Faker()

In [4]:
# creating our sqlalchemy engine and creating connection
def create_engine(username, password, database, *args, **kwargs):
    return sqlalchemy.create_engine(f'postgresql://{username}:{password}@localhost:5432/{database}')

# creating a connection
engine = create_engine('', '', '')

# general column fields
general_columns = ['id', 'appstech_labs_id', 'sparse', 'active', 'sync_token', 'domain', 'metadata_createtime', 'metadata_last_updatedtime']

In [5]:
# functions for general fields..
def general_active():
    return np.random.choice([True, False], p=[0.9998, 0.0002])

def general_sync_token():
    return str(faker.uuid4())

def general_domain_name():
    return np.random.choice(['QBO', 'OTHER'], p=[0.9998, 0.0002])

def general_sparse():
    return np.random.choice([True, False], p=[0.00001, 0.99999])

def general_meta_time():
    return faker.date_between(start_date='-2y')

In [6]:
def get_item_name():
    return faker.name()

def get_txn_date():
    return faker.date_between(start_date='-2y')

def get_unit_price():
    return random.randint(100, 200)

def get_item_qyt():
    return random.randint(1, 10)

def get_item_amt(qty, unit_price, *args, **kwargs):
    return qty * unit_price

def get_is_discount_percent():
    return faker.boolean()

def get_discount_per():
    return random.randint(1, 20)

def get_currency_code():
    currency_codes = ['USD', 'AUD', 'XAF']
    return faker.random_element(elements=currency_codes)

def get_total_tax():
    return random.randint(0, 2000)

def get_tax_code_value():
    tax_codes = ['TAX', 'NON']
    return faker.random_element(elements=tax_codes)

def get_total_tax():
    return np.random.choice(10, p=[0.6, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0.05, 0])

def get_total_amt(amt, total_tax, discount_amt, is_discount_per, *args, **kwargs):
    if is_discount_per:
        discount_per = kwargs.get('discount_per', None)
        
        if not discount_per:
            raise Exception('Discount percentage value required')
        
        return amt - (discount_per / 100 * amt) + total_tax
        
    else:
        
        return amt + total_tax - discount_amt

<h1 style="color: red;">Generate Dataframe</h1>

In [7]:
def generate_dataframe():
    df = pd.DataFrame(columns=['date', 'item_id', 'item_name', 'qty', 'unit_price', 'amt', 'discount_amt', 'tax_code_value','is_discount_percent','discount_per', 'txn_total_tax', 'margin', 'total_amt'])
    
    # loop for 1000 customers for a company
    for transaction_id in range(500):
        qty = get_item_qyt()
        unit_price = get_unit_price()
        amt = get_item_amt(qty, unit_price)
        is_discount_percent = get_is_discount_percent()
        discount_amt = get_discount_per() / 100 * amt
        tax_code = get_tax_code_value()
        discount_per = get_discount_per()
        total_tax = get_total_tax()
        total_amt = get_total_amt(amt, total_tax, discount_amt, is_discount_percent, discount_per=discount_per)
        
        df = df.append({'date': get_txn_date(), 'item_id': transaction_id, 'item_name': get_item_name(), 'qty': qty, 'unit_price': unit_price, 'amt': amt, 'discount_amt': discount_amt if not is_discount_percent else discount_per / 100 * amt, 'tax_code_value': tax_code, 'is_discount_percent': is_discount_percent, 'discount_per': discount_per if is_discount_percent else 0, 'txn_total_tax': total_tax, 'total_amt': total_amt}, ignore_index=True)

    return df

In [14]:
generated_df = generate_dataframe()
generated_df.sort_values(by=['date'], inplace=True, ignore_index=True)
generated_df.head()

,date,item_id,item_name,qty,unit_price,amt,discount_amt,tax_code_value,is_discount_percent,discount_per,txn_total_tax,margin,total_amt
0,2018-04-27,284,Stephanie Phillips,10,106,1060,10.60,TAX,True,1,5,NaN,1054.40
1,2018-04-28,460,Brian King,8,123,984,177.12,TAX,False,0,0,NaN,806.88
2,2018-04-30,482,Albert Colon,7,116,812,8.12,TAX,False,0,0,NaN,803.88
3,2018-04-30,340,Garrett Johnson,10,191,1910,324.70,NON,True,17,0,NaN,1585.30
4,2018-05-01,112,Michael Gomez MD,8,170,1360,54.40,TAX,True,4,0,NaN,1305.60

In [15]:
generated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 500 non-null    object
 1   item_id              500 non-null    object
 2   item_name            500 non-null    object
 3   qty                  500 non-null    object
 4   unit_price           500 non-null    object
 5   amt                  500 non-null    object
 6   discount_amt         500 non-null    float64
 7   tax_code_value       500 non-null    object
 8   is_discount_percent  500 non-null    object
 9   discount_per         500 non-null    object
 10  txn_total_tax        500 non-null    object
 11  margin               0 non-null      float64
 12  total_amt            500 non-null    float64
dtypes: float64(3), object(10)
memory usage: 50.9+ KB

<h1 style="color: red;">Pickle Dataframe</h1>

In [9]:
# generated_df.to_pickle('./fake_data.pkl')

<h1 style="color: red;">Generate User Table</h1>

In [9]:
# create dataframe and columns
user_columns = ['id', 'first_name', 'last_name', 'email', 'company', 'password', 'active', 'secret_code', 'created_on', 'updated_on']

In [10]:
# function definations for getting fake data...
def get_first_name():
    return faker.first_name()

def get_last_name():
    return faker.last_name()

def get_email(id):
    email = faker.email()
    split = email.split('@')
    return f'{split[0]}_{id}@{split[-1]}'

def get_company_name():
    return faker.company()

def get_secrets(length):
    return str(secrets.token_hex(int(length)))

def get_creation_date():
    return faker.date_between(start_date='-2y')

In [11]:
# generate dataframe
def generate_user_dataframe(num_of_users):
    df = pd.DataFrame(columns=user_columns)
    
    # generating 1000 users
    for user_id in range(num_of_users):
        df = df.append({'id': user_id + 1, 'first_name': get_first_name(), 'last_name': get_last_name(), 'email': get_email(user_id + 1), 'company': get_company_name(), 'password': get_secrets(16), 'active': general_active(), 'secret_code': get_secrets(4), 'created_on': get_creation_date(), 'updated_on': get_creation_date()}, ignore_index=True)
        
    df.sort_values(by=['id', 'created_on'], inplace=True, ignore_index=True)
    
    return df

In [12]:
user_df = generate_user_dataframe(10000)
user_df.head()

,id,first_name,last_name,email,company,password,active,secret_code,created_on,updated_on
0,1,Jamie,Gillespie,lisa94_1@yahoo.com,Stevens and Sons,e7e5de781bcc3122074202413a3943e7,True,ea43c48b,2018-06-30,2019-05-18
1,2,Daniel,Atkins,irobbins_2@hotmail.com,"Bowen, Cordova and Garcia",4ee20969ed9059f29499ec666e85d9d3,True,6287ca8a,2019-09-12,2018-06-15
2,3,Caitlin,Patel,erin47_3@george.org,"Moore, Garcia and Bryant",db239539a72a74759dacef03784bdcbd,True,2a8e471b,2019-04-16,2019-09-21
3,4,Anthony,Leblanc,urobinson_4@hall.info,"Morgan, Lee and Warren",ccb0094db47636daa7a8daecb76c92a5,True,b7eb8d81,2020-02-28,2019-02-17
4,5,Justin,Sexton,wwright_5@evans-reyes.com,Grant-Nash,88637564f2777ebc7e8b94bc69ec0b9c,True,5e3aa253,2019-10-30,2020-01-19

In [13]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10000 non-null  object
 1   first_name   10000 non-null  object
 2   last_name    10000 non-null  object
 3   email        10000 non-null  object
 4   company      10000 non-null  object
 5   password     10000 non-null  object
 6   active       10000 non-null  object
 7   secret_code  10000 non-null  object
 8   created_on   10000 non-null  object
 9   updated_on   10000 non-null  object
dtypes: object(10)
memory usage: 781.4+ KB

In [15]:
# save dataframe to db
# user_df.to_sql('users', con=engine, if_exists='append', index=False)

<h1 style="color: red;">Generate TaxAgency Table</h1>

In [16]:
def tax_tracked_onpurchases():
    on_purchase_tax = [True, False]
    return faker.random_element(elements=on_purchase_tax)

def tax_tracked_onsales():
    on_sales_tax = [True, False]
    return faker.random_element(elements=on_sales_tax)

def display_tax_name():
    return faker.word().upper()

def tax_registration_number():
    return faker.credit_card_number()

def get_last_file_date():
    return faker.date_between(start_date='-2y')

In [18]:
# generate dataframe
def generate_tax_agency_dataframe(num_rows):
    columns = ['tax_tracked_onpurchases', 'tax_tracked_onsales', 'last_file_date', 'display_name', 'tax_registration_number']
    columns = columns.extend(general_columns)
    df = pd.DataFrame(columns=columns)
    
    k = 0
    for user_id in range(num_rows):
        for row_id in range(100):
            if k >= num_rows:
                break
            else:
                df = df.append({'id': row_id + 1, 'appstech_labs_id': k + 1, 'tax_tracked_onpurchases': tax_tracked_onpurchases(), 'tax_tracked_onsales': tax_tracked_onsales(), 'last_file_date': get_last_file_date(), 'display_name': display_tax_name(), 'tax_registration_number': tax_registration_number(), 'domain': general_domain_name(), 'sparse': general_sparse(), 'active': general_active(), 'sync_token': general_sync_token(), 'metadata_createtime': general_meta_time(), 'metadata_last_updatedtime': general_meta_time()}, ignore_index=True)
                k = k + 1
                
#     df = df.sample(n=df.shape[0], axis=0).reset_index(drop=True)
    pd.options.display.float_format = '{:,.0f}'.format
    df[['tax_tracked_onpurchases', 'tax_tracked_onsales', 'sparse', 'active']]= df[['tax_tracked_onpurchases', 'tax_tracked_onsales', 'sparse', 'active']].astype('boolean')
    return df

In [19]:
tax_agency_df = generate_tax_agency_dataframe(10000)
tax_agency_df.head()

,active,appstech_labs_id,display_name,domain,id,last_file_date,metadata_createtime,metadata_last_updatedtime,sparse,sync_token,tax_registration_number,tax_tracked_onpurchases,tax_tracked_onsales
0,True,1,NATURE,QBO,1,2018-11-28,2019-11-11,2020-03-21,False,f9dcc0a1-57ec-4c7f-98eb-54a78f98405a,4547325193370197,False,False
1,True,2,BAD,QBO,2,2020-04-26,2020-01-27,2019-10-08,False,b19271bb-7472-414d-8ba0-1b796bacabb2,36192661027410,False,True
2,True,3,DIFFERENT,QBO,3,2018-10-02,2019-01-28,2018-07-22,False,ce1429e6-9ff3-46b7-ad5d-46ff621fd292,6011169873696006,False,True
3,True,4,VIEW,QBO,4,2019-12-25,2019-05-24,2018-07-20,False,28a032aa-d8ad-4973-9505-927723eee567,4191393396497,True,True
4,True,5,QUICKLY,QBO,5,2019-12-28,2018-08-25,2019-06-03,False,d970ae3e-5c4c-4a01-9b91-e1813747e0bc,376116092044429,True,True

In [20]:
# save dataframe to db
# tax_agency_df.to_sql('quickbooks_tax_agencies', con=engine, if_exists='append', index=False)

<h1 style="color: red;">Generate TaxRate Table</h1>

In [21]:
# tax code values
tax_code_dic = [
    {'id': 'Z', 'description': 'Zero-rated', 'rate_in_percent': 0, 'tax_onsale': 'Taxable'},
    {'id': 'E', 'description': 'Tax-exempt', 'rate_in_percent': 'N/A', 'tax_onsale': 'Non-taxable'},
    {'id': 'Out of scope', 'description': 'Nontaxable goods and services', 'rate_in_percent': 0, 'tax_onsale': 'N/A'},
    {'id': 'GST', 'description': 'Federal goods & services tax', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'GST BC', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST BC', 'description': 'BC provincial tax only', 'rate_in_percent': 7, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST BC', 'description': 'Federal and provincial tax (BC)', 'rate_in_percent': 12, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST MB', 'description': 'Combined federal and Manitoba provincial tax', 'rate_in_percent': 13, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST MB', 'description': 'Manitoba provincial tax only', 'rate_in_percent': 8, 'tax_onsale': 'Taxable'},
    {'id': 'HST NB', 'description': 'Harmonized federal and New Brunswick provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST NL', 'description': 'Harmonized federal and Newfoundland and Labrador provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST NS', 'description': 'Harmonized federal and Nova Scotia provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST ON', 'description': 'Harmonized federal and Ontario provincial tax', 'rate_in_percent': 13, 'tax_onsale': 'Taxable'},
    {'id': 'HST', 'description': 'Harmonized federal and PEI provincial tax', 'rate_in_percent': 14, 'tax_onsale': 'Taxable'},
    {'id': 'GST/QST QC', 'description': 'Combined federal and Quebec provincial tax', 'rate_in_percent': 14.975, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'QST QC', 'description': 'Quebec provincial tax only', 'rate_in_percent': 9.975, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST SK', 'description': 'Combined federal and Saskatchewan provincial tax', 'rate_in_percent': 10, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST SK', 'description': 'Zero-rated', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'}, 
]

In [22]:
def generate_tax_rate_dataframe(num_rows):
    columns = ['name', 'rate_value', 'agency_ref_value', 'agency_ref_name', 'desciption', 'display_type', 'tax_return_line_ref_value', 'tax_return_line_ref_name', 'effective_tax_rate_data_value', 'effective_tax_rate_data_end_date', 'effective_tax_rate_data_effective_date', 'special_tax_type']
    columns = columns.extend(general_columns)
    df = pd.DataFrame(columns=columns)
    
    k = 0
    for user_id in range(num_rows):
        for index, tax_obj in enumerate(tax_code_dic):
            if k >= num_rows:
                break
            else:
                tax_agency_obj = tax_agency_df.loc[tax_agency_df['appstech_labs_id'] == k + 1]
                agency_ref_value = tax_agency_obj['id']
                agency_ref_name = tax_agency_obj['display_name']
                df = df.append({'id': index + 1, 'appstech_labs_id': k + 1, 'name': tax_obj['id'], 'rate_value': tax_obj['rate_in_percent'], 'agency_ref_value': agency_ref_value, 'agency_ref_name': agency_ref_name, 'active': general_active(), 'description': tax_obj['description'], 'display_type': 'ReadOnly', 'tax_return_line_ref_value': np.nan, 'tax_return_line_ref_name': np.nan, 'effective_tax_rate_data_value': np.nan, 'effective_tax_rate_data_end_date': get_creation_date(), 'effective_tax_rate_data_effective_date': get_creation_date(), 'special_tax_type': 'NONE', 'domain': general_domain_name(), 'sparse': general_sparse(), 'sync_token': general_sync_token(), 'metadata_createtime': general_meta_time(), 'metadata_updatedtime': general_meta_time()}, ignore_index=True)
                k = k + 1
#     df = df.sample(n=df.shape[0], axis=0).reset_index(drop=True)
    pd.options.display.float_format = '{:,.0f}'.format
    df[['sparse', 'active']]= df[['sparse', 'active']].astype('boolean')
    return df

In [23]:
tax_rate_df = generate_tax_rate_dataframe(10000)
tax_rate_df.head()

,active,agency_ref_name,agency_ref_value,appstech_labs_id,description,display_type,domain,effective_tax_rate_data_effective_date,effective_tax_rate_data_end_date,effective_tax_rate_data_value,id,metadata_createtime,metadata_updatedtime,name,rate_value,sparse,special_tax_type,sync_token,tax_return_line_ref_name,tax_return_line_ref_value
0,True,"0 NATURE Name: display_name, dtype: object","0 1 Name: id, dtype: float64",1,Zero-rated,ReadOnly,QBO,2019-12-21,2018-06-03,nan,1,2020-01-05,2018-05-21,Z,0,False,NONE,3297ef95-66e2-47ce-b4da-ac35571056d1,nan,nan
1,True,"1 BAD Name: display_name, dtype: object","1 2 Name: id, dtype: float64",2,Tax-exempt,ReadOnly,QBO,2020-04-03,2019-11-16,nan,2,2018-05-15,2019-04-23,E,N/A,False,NONE,a8976abb-79b4-447b-9bc9-2cc2757a6f13,nan,nan
2,True,"2 DIFFERENT Name: display_name, dtype: object","2 3 Name: id, dtype: float64",3,Nontaxable goods and services,ReadOnly,QBO,2019-08-08,2019-10-09,nan,3,2020-02-14,2019-06-12,Out of scope,0,False,NONE,5b61e7e7-e3a4-40c6-8d80-0aa68980eb63,nan,nan
3,True,"3 VIEW Name: display_name, dtype: object","3 4 Name: id, dtype: float64",4,Federal goods & services tax,ReadOnly,QBO,2019-02-05,2019-01-14,nan,4,2019-08-03,2019-06-12,GST,5,False,NONE,a8f97638-a35a-4414-9fa8-12a930e8d3b2,nan,nan
4,True,"4 QUICKLY Name: display_name, dtype: object","4 5 Name: id, dtype: float64",5,Federal tax (GST) only,ReadOnly,QBO,2019-09-10,2020-02-13,nan,5,2019-12-19,2019-09-19,GST BC,5,False,NONE,340548c2-e0b3-4d0b-8020-43bded42c2be,nan,nan

In [24]:
# save dataframe to db
# tax_rate_df.to_sql('quickbooks_tax_rates', con=engine, if_exists='append', index=False)

<h1 style="color: red;">Generate TaxCode Table</h1>

In [25]:
def generate_tax_name(taxable, tax_group, *args, **kwargs):
    if taxable and tax_group:
        return kwargs['id']
        
    elif taxable and not tax_group:
        return 'TAX'
        
    elif not taxable and not tax_group or not taxable:
        return 'NON'
    
def is_taxable(*args, **kwargs):
    if 'taxable' in kwargs:
        if kwargs['taxable'] == True:
            return np.random.choice([True, False], p=[0.35, 0.65])
        else:
            return False
    else:
        return np.random.choice([True, False], p=[0.55, 0.45])
    
def generate_tax_rate(tax_group, tax_ref, *args, **kwargs):
    if tax_group:
        if 'purchase' in kwargs:
            return generate_tax_list(np.random.randint(low=1,high=4), tax_ref, purchase=kwargs['purchase'])
        else:
            return generate_tax_list(np.random.randint(low=1,high=4), tax_ref)
    else:
        return []
    
def generate_tax_list(list_len, tax_ref, *args, **kwargs):
    for i in range(list_len):
        if 'purchase' in kwargs:
            return np.random.choice([{
                'TaxRateDetail': [
                    {"TaxRateRef": {
                        "value": int(tax_ref['value']),
                        "name": tax_ref['name']
                        }
                    }],
                "TaxTypeApplication": np.random.choice(["TaxOnAmount", "TaxOnAmountPlusTax", "TaxOnTax"], p=[0.8, 0.1, 0.1]),
                "TaxOrder": 0}, []], p=[0.15, 0.85])
        
        return {
            'TaxRateDetail': [
                {"TaxRateRef": {
                    "value": int(tax_ref['value']),
                    "name": tax_ref['name']
                }},
            ],
            "TaxTypeApplication": np.random.choice(["TaxOnAmount", "TaxOnAmountPlusTax", "TaxOnTax"], p=[0.8, 0.1, 0.1]),
            "TaxOrder": 0
        }

In [27]:
# tax code values
tax_code = [
    {'id': 'Z', 'description': 'Zero-rated', 'rate_in_percent': 0, 'tax_onsale': 'Taxable'},
    {'id': 'E', 'description': 'Tax-exempt', 'rate_in_percent': 'N/A', 'tax_onsale': 'Non-taxable'},
    {'id': 'Out of scope', 'description': 'Nontaxable goods and services', 'rate_in_percent': 0, 'tax_onsale': 'N/A'},
    {'id': 'GST', 'description': 'Federal goods & services tax', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'GST BC', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST BC', 'description': 'BC provincial tax only', 'rate_in_percent': 7, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST BC', 'description': 'Federal and provincial tax (BC)', 'rate_in_percent': 12, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST MB', 'description': 'Combined federal and Manitoba provincial tax', 'rate_in_percent': 13, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST MB', 'description': 'Manitoba provincial tax only', 'rate_in_percent': 8, 'tax_onsale': 'Taxable'},
    {'id': 'HST NB', 'description': 'Harmonized federal and New Brunswick provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST NL', 'description': 'Harmonized federal and Newfoundland and Labrador provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST NS', 'description': 'Harmonized federal and Nova Scotia provincial tax', 'rate_in_percent': 15, 'tax_onsale': 'Taxable'},
    {'id': 'HST ON', 'description': 'Harmonized federal and Ontario provincial tax', 'rate_in_percent': 13, 'tax_onsale': 'Taxable'},
    {'id': 'HST', 'description': 'Harmonized federal and PEI provincial tax', 'rate_in_percent': 14, 'tax_onsale': 'Taxable'},
    {'id': 'GST/QST QC', 'description': 'Combined federal and Quebec provincial tax', 'rate_in_percent': 14.975, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'QST QC', 'description': 'Quebec provincial tax only', 'rate_in_percent': 9.975, 'tax_onsale': 'Taxable'},
    {'id': 'GST/PST SK', 'description': 'Combined federal and Saskatchewan provincial tax', 'rate_in_percent': 10, 'tax_onsale': 'Taxable'},
    {'id': 'GST', 'description': 'Federal tax (GST) only', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'},
    {'id': 'PST SK', 'description': 'Zero-rated', 'rate_in_percent': 5, 'tax_onsale': 'Taxable'}, 
]

In [28]:
def generate_tax_code_dataframe(num_rows):
    columns = ['name', 'description', 'hidden', 'taxable', 'tax_group', 'purchase_tax_ratelist_nested', 'sales_tax_ratelist_nested']
    columns = columns.extend(general_columns)
    df = pd.DataFrame(columns=columns)
    
    k = 0
    for user_id in range(num_rows):
        for index, tax_obj in enumerate(tax_code_dic):
            if k >= num_rows:
                break
            else:
                taxable = is_taxable() # randomly generate boolean
                tax_group = is_taxable(taxable=taxable) # randomly generated boolean
                tax_id = generate_tax_name(taxable, tax_group, id=tax_obj['id'])
                name = generate_tax_name(taxable, tax_group, id=tax_obj['id'])
                purchase_tax_rateList = generate_tax_rate(tax_group, {'value': tax_rate_df['id'][user_id], 'name': tax_rate_df['name'][user_id]}, purchase=True)
                sales_tax_rateList = generate_tax_rate(tax_group, {'value': tax_rate_df['id'][user_id], 'name': tax_rate_df['name'][user_id]})
                
                df = df.append({'id': tax_id, 'appstech_labs_id': k + 1, 'name': name, 'description': tax_obj['description'], 'active': general_active(), 'hidden': np.random.choice([True, False], p=[0.25, 0.75]), 'taxable': taxable, 'tax_group': tax_group, 'purchase_tax_ratelist_nested': purchase_tax_rateList, 'sales_tax_ratelist_nested': sales_tax_rateList, 'domain': general_domain_name(), 'sparse': general_sparse(), 'sync_token': general_sync_token(), 'metadata_createtime': general_meta_time(), 'metadata_updatedtime': general_meta_time()}, ignore_index=True)
                
            k = k + 1
    
    df[['sparse', 'active', 'hidden', 'taxable', 'tax_group']]= df[['sparse', 'active', 'hidden', 'taxable', 'tax_group']].astype('boolean')
    return df

In [29]:
tax_code_df = generate_tax_code_dataframe(10000)
tax_code_df.head()

,active,appstech_labs_id,description,domain,hidden,id,metadata_createtime,metadata_updatedtime,name,purchase_tax_ratelist_nested,sales_tax_ratelist_nested,sparse,sync_token,tax_group,taxable
0,True,1,Zero-rated,QBO,False,TAX,2020-01-17,2019-03-14,TAX,[],[],False,53075802-0022-4ca4-8ef5-7c2217109f82,False,True
1,True,2,Tax-exempt,QBO,True,NON,2018-06-30,2019-01-27,NON,[],[],False,e81acd4b-537f-4eae-8a36-3782c5752592,False,False
2,True,3,Nontaxable goods and services,QBO,True,NON,2019-04-06,2019-08-26,NON,[],[],False,52c5ff6f-16b7-4146-b615-c7768ed5b8ab,False,False
3,True,4,Federal goods & services tax,QBO,True,NON,2019-10-22,2018-07-07,NON,[],[],False,cd2f9368-718f-47f6-bbec-83153552261b,False,False
4,True,5,Federal tax (GST) only,QBO,False,GST BC,2019-07-08,2019-11-19,GST BC,"{'TaxRateDetail': [{'TaxRateRef': {'value': 1,...","{'TaxRateDetail': [{'TaxRateRef': {'value': 1,...",False,888b1ca8-93cf-4aec-92d1-caf702133173,True,True